<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AEUMasterMobile"
        tools:targetApi="31">
        <activity
            android:name=".ListViewActivity"
            android:exported="false" />
        <activity
            android:name=".lessions.LifecycleActivity"
            android:exported="false"></activity>
        <activity
            android:name=".homework.homework2.designLayout.HomeworkDesignLayout"
            android:exported="false" />
        <activity
            android:name=".homework.homework1.currencyCovertor.KhCovertEn"
            android:exported="false" />
        <activity
            android:name=".homework.homework1.currencyCovertor.EnConvertKh"
            android:exported="false" />
        <activity
            android:name=".homework.homework1.currencyCovertor.UsdConverKh"
            android:exported="false" />
        <activity
            android:name=".homework.homework1.currencyCovertor.KhConverUsd"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AEUMasterMobile.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".lessions.SecondActivity"
            android:exported="false" />
    </application>

</manifest>